<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        Actions
    </div>

    <div class="card-body">

        <form>

            <button type="button" class="btn btn btn-outline-primary btn-sm" ng-disabled="installModel.installState!='READY_TO_INSTALL'" ng-click="startInstall()">Start</button>

        </form>

    </div>

</div>