<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        Output:
    </div>

    <div class="card-body">


        <form>


            <table class="table table-striped">
                <tr ng-repeat="item in installModel.output track by $index" id="console{{$index}}">
                    <td>{{$index+1}}</td>
                    <td>{{item}}</td>
                </tr>
            </table>

        </form>

    </div>

</div>