<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        Locale
    </div>

    <!-- time zone, keyboard, system locale -->

    <div class="card-body">
        <form>

                <div class="form-group row">

                    <label for="timezone">Time zone</label>
                    <select class="form-control custom-select" id="timezone" ng-model="installModel.selectedTimeZone" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                        <option ng-repeat="item in installModel.timeZones" value="{{item}}">{{item}}</option>
                    </select>

                </div>

                <div class="form-group row">

                    <label for="keyboardlayout">Keyboard layout</label>
                    <select class="form-control custom-select" id="keyboardlayout" ng-model="installModel.selectedKeyboardLayout" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                        <option ng-repeat="item in installModel.keyboardLayouts" value="{{item}}">{{item}}</option>
                    </select>

                </div>


                <div class="form-group row">

                    <label for="systemlocale">System locale</label>
                    <select class="form-control custom-select" id="systemlocale" ng-model="installModel.selectedSystemLocale" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                        <option ng-repeat="item in installModel.systemLocales" value="{{item}}">{{item}}</option>
                    </select>

                </div>

        </form>
    </div>
</div>