<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        Install options
    </div>

    <div class="card-body">

        <form>

            <div class="form-group row">
                <label for="kernel">Linux kernel</label>
                <select class="form-control custom-select" id="kernel" ng-model="installModel.selectedKernel" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                    <option ng-repeat="item in installModel.packages.kernels" value="{{item.name}}">{{item.name}}</option>
                </select>
            </div>

            <div class="form-group row">
                <label for="profile">Profile</label>
                <select class="form-control custom-select" id="profile" ng-model="installModel.selectedProfile" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                    <option ng-repeat="item in installModel.packages.profiles" ng-if="!item.hidden" value="{{item.name}}">{{item.name}}</option>
                </select>
            </div>

            <div class="form-group row">
                <label for="profile">Hostname</label>
                <input type="text" class="form-control" placeholder="hostname" id="hostname" ng-model="installModel.hostname" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="installyay" ng-model="installModel.installYay" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                <label class="form-check-label" for="installyay">install yay</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="localmirror" ng-model="installModel.useLocalMirror" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                <label class="form-check-label" for="localmirror">Use local mirror for package installation</label>
                <input type="text" class="form-control" placeholder="local mirror" aria-label="Username" ng-model="installModel.localMirror" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

        </form>

    </div>

</div>