<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        User accounts
    </div>

    <div class="card-body">

        <form>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="root-password" ng-model="installModel.rootPassword" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="root-password repeated" ng-model="installModel.rootPasswordRepeat" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>
            <div class="input-group alert alert-danger" role="alert" ng-show="installModel.rootPassword!=installModel.rootPasswordRepeat">
                Root password mismatch!
            </div>
        </form>

        <hr>

        <button type="button" class="btn btn btn-outline-primary btn-sm form-control" ng-disabled="installModel.installState!='READY_TO_INSTALL'" ng-click="addUser()">add user</button>

        <hr>

        <form class="mt-3" ng-repeat="user in installModel.users" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="user name" ng-model="user.name" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                <button type="button" class="btn btn btn-outline-primary btn-sm btn-group-sm" ng-disabled="installModel.installState!='READY_TO_INSTALL'" ng-click="removeUser(user)">remove user</button>
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="password" ng-model="user.password" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="password repeat" ng-model="user.passwordRepeat" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

            <div class="input-group alert alert-danger" role="alert" ng-show="user.password!=user.passwordRepeat">
                User password mismatch!
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="real name" ng-model="user.fullName" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="shell" ng-model="user.shell" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input type="checkbox" ng-model="user.sudoRight" ng-disabled="installModel.installState!='READY_TO_INSTALL'">
                </div>
                <label class="form-control">sudo permission</label>
            </div>

            <hr>

        </form>

    </div>

</div>
